---
import SecretLayout from "../../layouts/SecretLayout.astro";
---

<SecretLayout title="art | luxass.dev" description="Picasso">
  <h1 class="text-center underline decoration-blue-600 underline-offset-4 decoration-wavy">Picasso?</h1>
</SecretLayout>
