---
import SecretLayout from "../../layouts/SecretLayout.astro";
---

<SecretLayout title="horse | luxass.dev" description="You have been horsed!">
  <h1 class="text-center">You have been <span class="underline decoration-blue-600 underline-offset-4 decoration-wavy">horsed</span>.</h1>
</SecretLayout>
