---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="horsed?" description="You have been horsed!">
  <h1 class="text-center">You have been <span class="underline decoration-blue-600 underline-offset-4 decoration-wavy">horsed</span>.</h1>
</PageLayout>
