---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="lol | luxass.dev" description="LOL!">
  <h1 class="text-center underline decoration-blue-600 underline-offset-4 decoration-wavy">LOL!</h1>
</PageLayout>
