---
import SecretLayout from "../../layouts/SecretLayout.astro";
---

<SecretLayout title="lol | luxass.dev" description="LOL!">
  <h1 class="text-center underline decoration-blue-600 underline-offset-4 decoration-wavy">LOL!</h1>
</SecretLayout>
