---
import { getCollection } from "astro:content";
import PostCard from "../../components/cards/PostCard.astro";
import PageLayout from "../../layouts/PageLayout.astro";

const posts = await getCollection("posts", ({ data }) => !data.draft).then((posts) =>
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);

export const prerender = true;
---

<PageLayout title="posts | luxass.dev" description="writing about web development, programming, and more">
  <h1 class="text-xl font-bold mb-4 text-foreground">Posts</h1>

  <p class="text-foreground mb-12 leading-relaxed text-sm">here is some of my posts i have written.</p>

  <div class="space-y-12">
    {posts.length > 0 ? posts.map((post) => <PostCard post={post} />) : <p class="text-foreground">No posts found</p>}
  </div>
</PageLayout>
