---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import PostCard from "../../components/PostCard.astro";

const posts = await getCollection(
  "blog",
  ({ data }) => data.draft !== true
).then((posts) =>
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
);
---

<PageLayout title="blog | luxass.dev" description="luxass' blog">
  <h1>Blog</h1>
  <p>This is my blog, where I write about things I find interesting.</p>
  {
    posts.length > 0 ?
        (
      <div class="grid auto-cols-max grid-cols-1 mt-4 gap-4 sm:grid-cols-2 sm:gap-3">
        {posts.map((post) => (
          <PostCard post={post} />
        ))}
      </div>
        ) :
        (
      <p>I didn't write any public available posts yet.</p>
        )
  }
</PageLayout>
