---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";


const posts = await getCollection("blog", ({
  data
}) => data.draft !== true);

---

<PageLayout title="home | luxass.dev" description="With a background as a fullstack developer. Lucas Nørgård builds both modern and scalable applications">
  <h1>Blog</h1>

</PageLayout>
