---
import type { Project } from "../../data/projects";
import Card from "../ui/Card.astro";

export interface Props {
  project: Project
}

const { project } = Astro.props;

const { name, description, url: githubUrl, $projectrc } = project;

const url = $projectrc?.readme ? `/projects/${name}` : githubUrl;
---

<Card href={url} class="flex flex-col justify-between gap-y-2">
  <h2 class="overflow-hidden text-ellipsis whitespace-nowrap">
    {name}
  </h2>
  <p class="text-sm">{description}</p>
</Card>
