---
import { Icon } from "astro-icon/components";
import { stripProtocol } from "../../lib/utils";

export interface Props {
  href: string;
  icon: string;
  label: string;
  className?: string;
}

const { href, icon, label, className = "" } = Astro.props;
---

<a href={href} class:list={["flex items-center hover:text-foreground", className]}>
  <Icon name={icon} class="size-4 mr-1" />
  <span class="text-sm print:text-xs">
    <span class="print:hidden">{label}</span>
    <span class="hidden print:inline">{stripProtocol(href)}</span>
  </span>
</a>
