---
import { stripProtocol } from "../../lib/utils";

export interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;
---

<a
  href={href}
  class="rounded-lg border border-card-border hover:bg-card-bg transition-colors print:bg-auto print:shadow-none flex flex-col"
>
  <div class="flex flex-col space-y-1.5 p-4 print:p-2 flex-grow">
    <div class="text-base font-semibold leading-none tracking-tight print:text-sm">
      <span>{title}</span>
    </div>
    <div class="hidden print:block text-xs text-foreground-muted">
      {stripProtocol(href)}
    </div>
    <div class="text-sm text-foreground-muted print:text-xs">
      {description}
    </div>
  </div>
</a>
