---
import { Icon } from "astro-icon/components";
import Link from "../ui/Link.astro";
---

<footer class="mt-8 border-t border-t-neutral-700 pt-8 text-center flex items-center justify-between gap-2">
  <p>Lucas Nørgård</p>
  <ul>
    <li class="flex items-center gap-2">
      <Link href="/rss.xml" aria-label="rss feed">
        <Icon name="mdi:rss" class="size-5" />
      </Link>
      <Link href="/sitemap-index.xml" aria-label="sitemap">
        <Icon name="mdi:sitemap" class="size-5" />
      </Link>
      <Link href="mailto:mail@luxass.dev" aria-label="email">
        <Icon name="tabler:mail" class="size-5" />
      </Link>
      <Link href="https://github.com/luxass" aria-label="github">
        <Icon name="mdi:github" class="size-5" />
      </Link>
      <Link href="https://linkedin.com/in/luxass" aria-label="linkedin">
        <Icon name="mdi:linkedin" class="size-5" />
      </Link>
    </li>
  </ul>
</footer>
