<header class="px-4">
  <nav class="flex flex-wrap items-center justify-between">
    <div class="flex items-center gap-2">
      <a href="/" class="transition-transform active:scale-95 p-2">Lucas Nørgård</a>
    </div>

    <div class="flex items-center gap-4 sm:gap-6">
      <a class="transition-transform active:scale-95" href="/projects">Projects</a>
      <a class="transition-transform active:scale-95" href="/posts">Posts</a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform active:scale-95"
        href="https://cv.luxass.dev"
      >
        CV
      </a>
      <a class="transition-transform active:scale-95" href="mailto:mail@luxass.dev">Contact</a>
    </div>
  </nav>
</header>
