<header>
  <nav class="flex items-center justify-between mb-8 text-sm">
    <div class="flex space-x-4">
      <a href="/" class="hover:text-accent transition-colors duration-200"> home </a>
      <a href="/blog" class="hover:text-accent transition-colors duration-200"> blog </a>
      <a href="/projects" class="hover:text-accent transition-colors duration-200"> projects </a>
    </div>
  </nav>
</header>
