---
import Link from "../ui/Link.astro";
import { EmojiCycle } from "./Emoji";
---

<header class="px-4">
  <nav class="flex flex-wrap items-center justify-between">
    <div class="flex items-center gap-2">
      <EmojiCycle client:load />
      <Link href="/" class="transition-transform active:scale-95 p-2">Lucas Nørgård</Link>
    </div>

    <div class="flex items-center gap-4 sm:gap-6">
      <Link class="transition-transform active:scale-95" href="/projects">Projects</Link>
      <Link class="transition-transform active:scale-95" href="/posts">Posts</Link>
      <Link class="transition-transform active:scale-95" href="https://cv.luxass.dev">CV</Link>
      <Link class="transition-transform active:scale-95" href="mailto:mail@luxass.dev">Contact</Link>
    </div>
  </nav>
</header>
