<div
  class="h-screen w-full flex flex-col items-center justify-center bg-gray-900 text-center text-gray-400"
>
  <h1 class="text-6xl">
    Houston we have a <span class="text-blue-600">404</span>
  </h1>
  <a
    href="/"
    class="mt-12 rounded-lg bg-gray-800 p-1 px-3 py-2 font-normal text-gray-400"
  >
    Go back
  </a>
</div>
