---
import Link from "../components/Link.astro";
import Notification from "../components/Notification.astro";
import PageLayout from "../layouts/PageLayout.astro";
import GitHubLogo from "~icons/carbon/LogoGithub";
import LinkedInLogo from "~icons/carbon/LogoLinkedin";
import Email from "~icons/carbon/Email";

export const prerender = true;
---

<PageLayout title="CV | Lucas Nørgård" description="CV">
  <Notification type="note" icon="🖨️" printable={false}>
    You can print this page to a A4 paper for a more compact version.
  </Notification>

  <div class="hidden print:(flex flex-col gap-y-2)">
    <Link
      href="mailto:mail@luxass.dev"
      aria-label="Email"
      class="inline-flex items-center gap-1"
    >
      <Email class="text-xl" />
       mail@luxass.dev
    </Link>
    <Link
      href="https://github.com/luxass"
      aria-label="Github"
      class="inline-flex items-center gap-1"
    >
      <GitHubLogo class="text-xl" />
       GitHub:
      <span class="underline">github.com/luxass</span>
    </Link>

    <Link
      href="https://www.linkedin.com/in/lucasnrgaard/"
      aria-label="LinkedIn"
      class="inline-flex items-center gap-1"
    >
      <LinkedInLogo class="text-xl" />
       LinkedIn:
      <span class="underline">linkedin.com/in/lucasnrgaard</span>
    </Link>
  </div>

  <div class="flex items-center justify-between gap-x-4">
    <h1>Lucas Nørgård</h1>
    <div class="flex gap-x-4 print:hidden">
      <Link
        href="https://github.com/luxass"
        aria-label="Github"
        class="inline-flex items-center gap-1"
      >
        <GitHubLogo class="text-xl" />
         GitHub
      </Link>

      <Link
        href="https://www.linkedin.com/in/lucasnrgaard/"
        aria-label="LinkedIn"
        class="inline-flex items-center gap-1"
      >
        <LinkedInLogo class="text-xl" />
         LinkedIn
      </Link>
    </div>
  </div>

  <article>
    <p>
      insert here
    </p>
  </article>
</PageLayout>

<style is:global>
  header,
  footer {
    @apply: print:hidden;
  }
</style>
