---
import PageLayout from "../layouts/PageLayout.astro";

export const prerender = true;
---

<PageLayout
  title="home - luxass.dev"
  description="personal website and blog of lucas nørgård"
  keywords={[
    "lucas nørgård",
    "luxass",
    "nørgård",
    "lucas",
    "fullstack",
    "backend",
    "frontend",
    "web developer",
    "website",
    "Web",
    "blog",
  ]}
>
  <h1>CV</h1>
</PageLayout>
