---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import PageLayout from '../layouts/PageLayout.astro'
import Link from '../components/ui/Link.astro'
import { sortPosts } from '../lib/utils'
import PostCard from '../components/content/PostCard.astro'
import ProjectCard from '../components/content/ProjectCard.astro'

const posts = sortPosts(
  await getCollection('posts', ({ data }) => !data.draft),
).slice(0, 4)
const projects = await getCollection('projects').then((projects) => {
  for (let i = projects.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1))
    ;[projects[i], projects[j]] = [projects[j], projects[i]]
  }

  return projects.slice(0, 6)
})

export const prerender = true
---

<PageLayout
  title="home - luxass.dev"
  description="personal website and blog of lucas nørgård"
  keywords={[
    'lucas nørgård',
    'luxass',
    'nørgård',
    'lucas',
    'fullstack',
    'backend',
    'frontend',
    'web developer',
    'website',
    'Web',
    'blog',
  ]}
>
  <h1>
    Hi there, I'm Lucas <span
      class="inline-block animate-duration-2s animate-count-3 animate-wiggle"
      >👋</span
    >
  </h1>
  <p>
    I'm a software engineer with a strong focus on JavaScript, TypeScript &
    Language Tooling. My passion lies in enhancing developer experience and
    productivity through tooling and automation.
  </p>

  <section id="projects">
    <h2>Projects</h2>

    <div class="flex flex-col gap-4">
      {projects.map((project) => <ProjectCard {project} />)}

      <Link href="/projects" class="flex items-center gap-2">
        All projects
        <Icon name="mdi:arrow-right-thin" class="size-6" />
      </Link>
    </div>
  </section>

  {
    posts.length > 0 && (
      <section id="posts">
        <h2>Posts</h2>

        <div class="flex flex-col gap-4">
          {posts.map((post) => (
            <PostCard {post} />
          ))}

          <span>
            <Link href="/posts">All posts →</Link>
          </span>
        </div>
      </section>
    )
  }
</PageLayout>

<style>
  @keyframes wiggle {
    0% {
      transform: rotate(2deg);
    }

    40% {
      transform: rotate(8deg);
    }

    60% {
      transform: rotate(1deg);
    }

    80% {
      transform: rotate(6deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }
</style>
