---
import ProjectCard from "../components/ProjectCard.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Link from "../components/Link.astro";

// import { projects } from "../projects";
---

<PageLayout
  title="home"
  description="With a background as a fullstack developer. Lucas Nørgård builds both modern and scalable applications"
>
  <div class="min-h-250px">
    <h1>
      Hey I&apos;m luxass <span
        class="inline-block animate-duration-2s animate-count-3 animate-wiggle"
        >✌️</span
      >
    </h1>
    <p>
      I&apos;m a self-taught developer based in Aarhus, Denmark. <br />
       In my spare time, I enjoy learning new technologies and working on side
      projects.
      <br />
      <br />
       occasionally I also write some articles on my <Link href="/blog">
        blog
      </Link>.
    </p>
  </div>
  <div
    class="mt-4 inline-block w-30 flex justify-between rounded bg-neutral-300 px-3 py-2 font-normal text-neutral-800 dark:(bg-neutral-800 text-neutral-400)"
  >
    <a
      href="https://github.com/luxass"
      target="_blank"
      aria-label="Github"
      class="hover:text-neutral-600 hover:dark:text-neutral-200"
    >
      <div class="i-carbon:logo-github text-2xl"></div>
    </a>
    <a
      href="https://www.linkedin.com/in/lucasnrgaard/"
      target="_blank"
      aria-label="LinkedIn"
      class="hover:text-neutral-600 hover:dark:text-neutral-200"
    >
      <div class="i-carbon:logo-linkedin text-2xl"></div>
    </a>
    <a
      href="mailto:lucasnrgaard@gmail.com"
      target="_blank"
      aria-label="Email"
      class="hover:text-neutral-600 hover:dark:text-neutral-200"
    >
      <div class="i-carbon:email text-2xl"></div>
    </a>
  </div>
  <section class="mt-8">
    <h2>Some of my projects, I&apos;ve been working on.</h2>
    <div
      class="grid auto-cols-max grid-cols-1 mt-4 gap-4 sm:grid-cols-2 sm:gap-3"
    >
      <!-- {projects && projects.map((project) => <ProjectCard project={project} />)} -->
    </div>
  </section>
</PageLayout>

<style>
  @keyframes wiggle {
    0% {
      transform: rotate(2deg);
    }

    40% {
      transform: rotate(8deg);
    }

    60% {
      transform: rotate(1deg);
    }

    80% {
      transform: rotate(6deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }
</style>
