---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import PostCard from "../components/content/PostCard.astro";
import ProjectCard from "../components/content/ProjectCard.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { sortPosts } from "../lib/utils";

const posts = sortPosts(await getCollection("posts", ({ data }) => !data.draft)).slice(0, 4);

export const prerender = true;
---

<PageLayout
  title="home - luxass.dev"
  description="personal website and blog of lucas nørgård"
  keywords={[
    "lucas nørgård",
    "luxass",
    "nørgård",
    "lucas",
    "fullstack",
    "backend",
    "frontend",
    "web developer",
    "website",
    "Web",
    "blog",
  ]}
>
  <h1>Lucas Nørgård</h1>

  <p>
    I'm a software engineer with a strong focus on JavaScript, TypeScript & Language Tooling. My passion lies in
    enhancing developer experience and productivity through tooling and automation.
  </p>

  <
</PageLayout>
