---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import Link from "../components/ui/Link.astro";
import Button from "../components/ui/Button.astro";

const posts = await getCollection("posts", ({ data }) => data.published).then((posts) => posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()));

const latestPost = posts.slice(0, 1)[0];

export const prerender = true;
---

<PageLayout
  title="home"
  description="With a background as a fullstack developer. Lucas Nørgård builds both modern and scalable applications"
>
  <div class="min-h-250px prose">
    <h1>
      Hey I&apos;m luxass <span class="inline-block animate-duration-2s animate-count-3 animate-wiggle">👋</span>
    </h1>
    <p>
      I&apos;m a self-taught developer based in Aarhus, Denmark. <br />
       In my spare time, I enjoy learning new technologies and working on side projects.
      <br />
      <br />
       occasionally I also write some articles on my <Link href="/posts">blog.</Link>
    </p>
  </div>
  <Button intent="solid">Solid</Button>
  <Button intent="outline">Outline</Button>
  <Button intent="soft">Soft</Button>
  <Button intent="ghost">Ghost</Button>
  <Button intent="link">Link</Button>

  <div class="mt-8 flex flex-wrap gap-2 sm:mt-14 sm:gap-4">
    {
      latestPost && (
        <Button icon={latestPost.data.icon} href={`/posts/${latestPost.data.handle || latestPost.slug}`}>
          <span>{latestPost.data.title}</span>
        </Button>
      )
    }

    <Button
      icon="carbon:logo-github"
      href="https://github.com/luxass"
      aria-label="GitHub"
      intent="outline"
    >
      GitHub
    </Button>

    <Button
      href="https://www.linkedin.com/in/lucasnrgaard/"
      aria-label="LinkedIn"
      icon="carbon:logo-linkedin"
      intent="outline"
    >
       LinkedIn
    </Button>
  </div>
</PageLayout>

<style>
  @keyframes wiggle {
    0% {
      transform: rotate(2deg);
    }

    40% {
      transform: rotate(8deg);
    }

    60% {
      transform: rotate(1deg);
    }

    80% {
      transform: rotate(6deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }
</style>
