<footer class="sm:mt-12 py-8 border-t border-gray-800">
  <p class="text-center text-gray-200">
    Made with <a href="https://astro.build/" class="hover:text-blue">Astro ❤️</a
    >
  </p>
</footer>
