<hr class="border-t-2 border-t-gray-300 dark:border-t-gray-800 mt-12" />

<footer class="py-8">
  <p class="text-center text-gray-700 dark:text-gray-200 text-lg">
    Made with <a href="https://astro.build/" class="hover:text-blue">Astro ❤️</a>

  </p>
</footer>
