---
export interface Props {
  href: string
  class?: string
  underline?: boolean
}

const { href, underline = false, class: clazz, ...props } = Astro.props;

const isExternal = href.startsWith("http");
const target = isExternal ? "_blank" : undefined;
const rel = isExternal ? "noopener noreferrer" : undefined;
---

<a
  {href}
  {target}
  {rel}
  {...props}
  class:list={[
    underline && "underline decoration-neutral-300 underline-offset-4 dark:decoration-neutral-600 hover:(decoration-neutral-400 dark:decoration-neutral-500)",
    clazz,
  ]}
>
  <slot />
</a>
