---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import Notification from "../../components/Notification.astro";
import type { Project } from "../../data/projects";

export async function getStaticPaths() {
  const { projects } = await import("../../data/projects");

  return projects.filter((project) => {
    if (!project?.projectrc) return false;
    if (project.projectrc.ignore) return false;
    if (!project.projectrc.readme) return false;

    return true;
  }).filter(Boolean).map((project) => {
    return {
      params: { handle: project.nameWithOwner.split("/")[1] },
      props: { project },
    };
  });
}

interface Props {
  project: Project
}

const {
  project: { url },
} = Astro.props;

export const prerender = true;
---

<PageLayout
  title={"title"}
  description={"description"}
  image={`https://image.luxass.dev/api/image/post?title=${"title"}&date=${"formattedDate"}&description=${"description"}`}
>
  <div class="prose tracking-wide">
    {url}
    <h1 class="mt-8">{"title"}</h1>
    <!-- <Content /> -->
  </div>
</PageLayout>
 ../../data/projects
