---
import { getCollection } from "astro:content";
import ProjectCard from "../../components/cards/ProjectCard.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { downloadsSort } from "../../lib/utils";

const allProjects = await getCollection("projects");

const personalProjects = allProjects.filter(({ data }) => data.type === "personal").sort(downloadsSort);

const contributions = allProjects.filter(({ data }) => data.type === "contribution").sort(downloadsSort);

const projects = [...personalProjects, ...contributions];

export const prerender = true;
---

<PageLayout title="projects | luxass.dev" description="projects i've worked on">
  <h1 class="text-xl font-bold mb-4 text-foreground">Projects</h1>

  <p class="text-foreground mb-12 leading-relaxed text-sm">
    here is some of my projects i have worked on. you can find more on my <a
      href="https://github.com/luxass"
      target="_blank"
      class="text-accent">github</a
    >.
  </p>

  <div class="space-y-12">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</PageLayout>
