---
import Link from "../../components/ui/Link.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import ProjectPreviewCard from "../../components/content/ProjectPreviewCard.astro";
import type { Project } from "../../lib/types";

const res = await fetch("https://projectrc.luxass.dev/api/projects.json");

if (!res.ok) {
  throw new Error("Failed to fetch projects");
}

const { projects } = await res.json() as { projects: Project[] };

export const prerender = true;
---

<PageLayout title="projects | luxass.dev" description="projects">
  <article class="prose">
    <h1>Projects</h1>
    <p>This is some of my projects.</p>

    <input
      type="search"
      name="search"
      class=""
      placeholder="Begin Typing To Search Users..."
      hx-post="/search"
      hx-trigger="input changed delay:250ms, search"
      hx-target="#search-results"
      hx-indicator=".htmx-indicator"
    />

  <span class="htmx-indicator"> Searching...</span>

    {
      projects.length > 0 ? (
        <div class="grid auto-cols-max grid-cols-1 mt-4 gap-4 sm:grid-cols-2 sm:gap-3" id="search-results">
          {
            projects.map((project) => (
              <ProjectPreviewCard {project} />
            ))
          }
        </div>
      ) : (
        <p>
          I haven't made any of my projects available here yet - you can always
          checkout my{" "}
          <Link href="https://github.com/luxass">
            GitHub
          </Link>
        </p>
      )
    }
  </article>
</PageLayout>
