---
import { CopyToClipboard } from "./CopyToClipboard";

let { class: clazz, copy, ...props } = Astro.props;

clazz += " rounded p-4 overflow-x-auto border border-gray-400/20";
const id = `code-${Math.random().toString(36).slice(2, 9)}`;
---

<div class="relative group">
  <pre id={id} class={clazz} {...props}><slot /></pre>
  {copy && <CopyToClipboard client:load id={id} />}
</div>
