<header class="print:hidden">
  <nav class="flex items-center justify-between mb-8 text-sm">
    <div class="flex space-x-4">
      <a href="/" class="hover:text-accent transition-colors duration-200"> home </a>
      <a href="/posts" class="hover:text-accent transition-colors duration-200"> posts </a>
      <a href="/projects" class="hover:text-accent transition-colors duration-200"> projects </a>
      <a href="/cv" class="hover:text-accent transition-colors duration-200"> cv </a>
    </div>
  </nav>
</header>
